.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-line-1 {height: 3px; transform-origin: left center 0; margin: 0 auto 60px 0}
.u-section-1 .u-btn-1 {border-style: none; box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); background-image: none; font-weight: normal; margin: 70px auto 60px}
.u-section-1 .u-btn-2 {box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); background-image: none; font-weight: normal}
.u-section-1 .u-btn-3 {box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); background-image: none; font-weight: normal}
.u-section-1 .u-btn-4 {box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); background-image: none; font-weight: normal}
.u-section-1 .u-btn-5 {box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); background-image: none; font-weight: normal}
.u-section-1 .u-btn-6 {box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); background-image: none; font-weight: normal}
.u-section-1 .u-line-2 {margin-bottom: 0}
.u-section-1 .u-text-1 {font-size: 1rem; margin: 30px 0 60px} 

@media (max-width: 575px){ .u-section-1 .u-line-1 {margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-1 .u-btn-1 {margin-top: 161px; margin-bottom: 0; margin-left: 50px; padding: 7px 39px 8px 38px}
.u-section-1 .u-btn-2 {border-style: none; margin: -40px 50px 0 auto; padding: 7px 39px 8px 38px}
.u-section-1 .u-btn-3 {border-style: none; margin: 26px auto 0 50px; padding: 7px 39px 8px 38px}
.u-section-1 .u-btn-4 {border-style: none; margin: 26px 50px 0 auto; padding: 7px 39px 8px 38px}
.u-section-1 .u-btn-5 {border-style: none; margin: -106px 50px 0 auto; padding: 7px 39px 8px 38px}
.u-section-1 .u-btn-6 {border-style: none; margin: 26px auto 0 50px; padding: 7px 39px 8px 38px}
.u-section-1 .u-line-2 {height: 2px; transform-origin: center top 0; width: 0; margin-top: -255px; margin-right: auto; margin-left: 120px}
.u-section-1 .u-text-1 {width: auto; font-size: 0.875rem; animation-duration: 1000ms; margin-top: -22px; margin-left: auto; margin-right: auto} }.u-section-2 .u-sheet-1 {min-height: 500px} 

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 80px}
.u-section-2 .u-custom-html-1 {min-height: 80px; height: auto; margin-top: 0; margin-bottom: 0} }